.message {
  width: 50vw;
}
.right {
  position: relative;
  float: right;
  padding-left: 30vw;
  background: rgb(117, 172, 255);
}
.left {
  position: relative;
  float: left;
  background: rgb(128, 255, 128);
}
