.CardCont {
  padding-top: 20px;
  background: linear-gradient(135deg,rgb(255, 254, 202),rgb(255, 221, 208));
  text-align: center;
}
.infoCont {
  margin-top: 2em;
  text-align: start;
  width: auto;
  display: inline-block;
  padding-bottom: 50px;
}
.textInline {
  display: inline;

  padding: 2em;

  font-family: sans-serif;
  text-align: start;
}

.postsCont{
  padding-top: 100px;
}